.card-header{
    background-color: rgb(158, 250, 222);
    display: flex;
    justify-content: center;
}


.card-body{
    background-color: rgb(239, 226, 245);
}

.card-footer{
    background-color: rgb(158, 250, 222);
}


